<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lobby</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="lib/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body style="background:black;">
<div class="container-fluid">

    <button id="button-zacetek" type="submit" class="button-night btn-zacetek" onclick="zacniIgro()"
            style="display: none;">ZAČETEK
    </button>

    <div id="avatar">
    </div>

    <div id="users" style="text-align: center; margin-top: 5%;">
        {{#each allUsers}}
            <button type="button" class="button-night" id="{{this}}" onclick="getVote('{{this}}')" disabled>{{this}}</button>
        {{/each}}
    </div>

    <div id="ozadje">
        <img src="img/ozadje_white_color.png" id="ozadje-night" alt="sotor" class="ozadje">
    </div>

</div>
<script src="room.js"></script>

<style>
    .button-night {
        width: 200px;
        height: 40px;
        border-radius: 5px;
        border: black 1px solid;
        font-size: 20px;
        background-color: white;
        margin: 20px;
    }

    .button-night:hover {
        background-color: #DCDCDC;
    }

    .button-night:disabled {
        background-color: #DCDCDC;
    }

    .vloga {
        width: 300px;
        margin: auto;
        display: block;
    }

    .btn-zacetek {
        margin: auto;
    }

    .ozadje {
        width: 97%;
        position: absolute;
        bottom: 5px;
    }
</style>
</body>

</html>