<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lobby</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="lib/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body style="background-color:black;">
<div class="container-fluid">
    <div style="text-align: center;">
        <button id="button-zacetek" type="submit" class="button-night" onclick="zacniIgro()" style="visibility: hidden;">ZAČETEK</button>
    </div>

    <div id="users" style="text-align: center; margin-top: 10%;">
        {{#each allUsers}}
            <button type="button" class="button-night" >{{this}}</button>
        {{/each}}
    </div>

    <img src="ozadje_white_color.png" alt="sotor" style="width: 97%; position: absolute; bottom: 5px;">

</div>
<script>
    var socket = io();

    const name = prompt('What is your name? ');
    const room = location.pathname.substr(1);
    socket.emit('new-user', room, name);

    var list = document.getElementById("users");
    var items = list.getElementsByTagName("button");
    var buttonZacetek = document.getElementById("button-zacetek");
    if (items.length == 0) {
        buttonZacetek.style.visibility = "visible";
    }

    function zacniIgro() {
        socket.emit('zacetek-igre', room);
    }

    socket.on('user-connected', function (name) {
        var user = document.createElement('button');
        var br = document.createElement('br');
        user.className = "button-night"
        user.textContent = name;
        if (items.length % 3 == 0) {
            users.appendChild(br);
        }
        users.appendChild(user);
    });

    socket.on('nova-vloga', function (vloga) {
        console.log("vloga " + vloga);
    });

    socket.on('user-disconnected', function (name) {
        var list = document.getElementById("users");
        var items = list.getElementsByTagName("button");
        for (var i = 0; i < items.length; i++) {
            if (items[i].outerText == name) {
                list.removeChild(items[i]);
            }
        }
    });
</script>

<style>
    .button-night {
        width: 200px;
        height: 40px;
        border-radius: 5px;
        border: white;
        font-size: 20px;
        background-color: white;
        margin: 20px;
    }
    .button-night:hover {
        background-color: #DCDCDC;
    }
</style>
</body>

</html>